{{- if .Values.deployment.create -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "homelab-chart.fullname" . }}
  labels:
    {{- include "homelab-chart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "homelab-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.deployment.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "homelab-chart.labels" . | nindent 8 }}
        {{- with .Values.deployment.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.deployment.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "homelab-chart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.deployment.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
          image: "{{ .Values.deployment.image.repository }}:{{ .Values.deployment.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.deployment.image.pullPolicy }}
          ports:
            - name: {{ .Values.service.name | default "http" }}
              containerPort: {{ .Values.service.port }}
              protocol: {{ .Values.service.protocol | default "TCP" }}
          livenessProbe:
            {{- toYaml .Values.deployment.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.deployment.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.deployment.resources | nindent 12 }}
          {{- $volumeMounts := list }}
          {{- if and .Values.pvc.create .Values.pvc.pvcs }}
          {{- range .Values.pvc.pvcs }}
          {{- if .mountPath }}
          {{- $volumeMounts = append $volumeMounts (dict "name" (printf "pvc-%s" .name) "mountPath" .mountPath "readOnly" (default false .readOnly)) }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.deployment.volumeMounts }}
          {{- $volumeMounts = concat $volumeMounts .Values.deployment.volumeMounts }}
          {{- end }}
          {{- if $volumeMounts }}
          volumeMounts:
            {{- toYaml $volumeMounts | nindent 12 }}
          {{- end }}
          {{- with .Values.deployment.env }}
          env:
            {{- range $key, $value := . }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          {{- end }}
          {{- with .Values.deployment.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- $volumes := list }}
      {{- if and .Values.pvc.create .Values.pvc.pvcs }}
      {{- range .Values.pvc.pvcs }}
      {{- if .mountPath }}
      {{- $volumes = append $volumes (dict "name" (printf "pvc-%s" .name) "persistentVolumeClaim" (dict "claimName" .name)) }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- if .Values.deployment.volumes }}
      {{- $volumes = concat $volumes .Values.deployment.volumes }}
      {{- end }}
      {{- if $volumes }}
      volumes:
        {{- toYaml $volumes | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end -}}
