{{- range .Values.sealedsecrets -}}
{{- $namespace := .namespace | default $.Release.Namespace -}}
{{- $name := .name }}
{{- $type := .type | default "Opaque" }}
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ $name }}
  namespace: {{ $namespace }}
spec:
  encryptedData:
    {{- range $key, $value := .data }}
    {{ $key }}: {{ $value }}
    {{- end }}
  template:
    type: {{ $type }}
    metadata:
      name: {{ $name }}
      namespace: {{ $namespace }}
{{- end }}