{{- if .Values.service.create -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "homelab-chart.fullname" . }}
  labels:
    {{- include "homelab-chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- if .Values.service.ports }}
    {{- range .Values.service.ports }}
    - port: {{ .port }}
      targetPort: {{ .targetPort | default .port }}
      protocol: {{ .protocol | default "TCP" }}
      name: {{ .name }}
    {{- end }}
    {{- else }}
    - port: {{ .Values.service.port | default 80 }}
      targetPort: {{ .Values.service.targetPort | default .Values.service.port | default 80 }}
      protocol: {{ .Values.service.protocol | default "TCP" }}
      name: {{ .Values.service.name | default "http" }}
    {{- end }}
  selector:
    {{- include "homelab-chart.selectorLabels" . | nindent 4 }}
{{- end -}}