{{- if .Values.tlsroute.create -}}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: {{ include "homelab-chart.fullname" . }}
  labels:
    {{- include "homelab-chart.labels" . | nindent 4 }}
  {{- with .Values.tlsroute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.tlsroute.parentRefs }}
  parentRefs:
    {{- toYaml .Values.tlsroute.parentRefs | nindent 4 }}
  {{- end }}
  {{- if .Values.tlsroute.hostnames }}
  hostnames:
    {{- range .Values.tlsroute.hostnames }}
    - {{ . | quote }}
    {{- end }}
  {{- end }}
  rules:
    {{- if .Values.tlsroute.rules -}}
      {{- toYaml .Values.tlsroute.rules | nindent 4 }}
    {{- else }}
    - backendRefs:
      - group: ""
        kind: Service
        name: {{ include "homelab-chart.fullname" . }}
        port: {{ .Values.service.port }}
    {{- end }}
{{- end }}
---
{{- range .Values.tlsroutes }}
{{- if not .name }}
{{- fail "tlsroutes entry is missing required field: name" }}
{{- end }}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: {{ .name }}
  labels:
    {{- include "homelab-chart.labels" $ | nindent 4 }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .parentRefs }}
  parentRefs:
    {{- toYaml .parentRefs | nindent 4 }}
  {{- end }}
  {{- if .hostnames }}
  hostnames:
    {{- range .hostnames }}
    - {{ . | quote }}
    {{- end }}
  {{- end }}
  rules:
    {{- if .rules -}}
      {{- toYaml .rules | nindent 4 }}
    {{- else }}
    - backendRefs:
      - group: ""
        kind: Service
        name: {{ include "homelab-chart.fullname" $ }}
        port: {{ $.Values.service.port }}
    {{- end }}
---
{{- end }}
