deployment:
  create: true
  replicas: 1
  containers:
    - name: test-container
      image:
        repository: busybox
        tag: latest
        pullPolicy: IfNotPresent
      command:
        - /bin/sh
        - -c
      args:
        - echo "Hello World" && sleep 3600
      ports:
        - name: http
          containerPort: 8080
          protocol: TCP

extraContainers:
  - name: test-sidecar
    image:
      repository: busybox
      tag: latest
      pullPolicy: IfNotPresent
    command:
      - /bin/sh
      - -c
    args:
      - echo "Hello World" && sleep 3600
    ports:
      - name: http
        containerPort: 8081
        protocol: TCP
